<form action="{{route}}" method="post">
    <input name="email" type="email" placeholder="Please enter email">
    <input name="password" type="password" placeholder="Please enter password">
    {{#if signup}}
    <input name="fullName" type="text" placeholder="Please enter full name">
    {{/if}}
    <button type="submit">Submit!</button>
</form>